{
  "singleQuote": true,
  "jsxSingleQuote": true,
  "printWidth": 120,
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "bracketSameLine": true,
  "singleAttributePerLine": true,
  "endOfLine": "auto",
  "bracketSpacing": true
}
